:root {
  --background-colour: #262626;
  --text-colour: #ffffff;
  --alt-text-colour: #ffffff;
  --transparency-colour: #00000000;
  --modal-background-colour: #262626fc;
}

@font-face {
  font-family: Gotham;
  src: url(FONTS/GothamBook.ttf);
}

@font-face {
  font-family: Gotham;
  font-weight: bold;
  src: url(FONTS/GothamBold.ttf);
}

@font-face {
  font-family: Gotham;
  font-style: italic;
  src: url(FONTS/GothamBookItalic.ttf);
}

@font-face {
  font-family: Gotham;
  font-weight: lighter;
  src: url(FONTS/GothamLight.ttf);
}

html{
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  /* scroll-snap-align: start; */
  scroll-margin: 1vh;
}

body {
  /*scroll-snap-stop: always;
   */
  margin: 0;
  background-color: var(--background-colour);
}

.theme-switch-icon {
  position:absolute;
  width:20px;
  top:20px;
  right:
  20px;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

.theme-switch-icon:hover {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.IMAGES{
  margin-top: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
}

.IMAGEGRID{
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  margin-top: 5%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  justify-items: center;
  align-items: center;
  justify-content: end;
  grid-gap: 0%;
  /* padding: 5%; */
  padding-top: 2%;
  padding-bottom: 2%;
}

.IMAGEGRID2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  /* row-gap: 0%; */
  width: 70% !important;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 0%; */
  justify-items: center;
  align-items: center;
  justify-content: end;
  /* grid-gap: 2%; */
  margin-bottom: 3%;
  column-gap: 1.5%;
}

.IMGPRV{
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  font-size: 15pt;
  text-align: center;
  padding-bottom: 5%;
  font-family: Gotham;
  /* white-space: nowrap; */
  width: 100%;
  height: 90%;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
  /* -webkit-filter: brightness(100%); */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  /* -webkit-filter: blur(1.5px); */
  /* filter: blur(5px); */
  /* scroll-snap-destination: center; */
  /* ...and now override with proper CSS property */
  margin-bottom: 10%;
  /* padding-bottom: 10%; */
  /* background-color: #262626; */
  overflow: hidden;
  /* margin-left: 50%; */
}

.IMGPRVM{
  /* transform: scale(1.02); */
  width: 90%;
  height: auto;
  margin: 5%;
  /* margin-bottom: 0; */
  /* position: absolute; */
  /* object-fit: contain; */
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

.IMGPRVA{
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
  object-fit: contain;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.IMGPRV:hover {
  /* max-height: 95%; */
  /* -webkit-filter: brightness(70%); */
  /* -webkit-filter: blur(0px); */
  /* width: 95%; */
  transform: scale(1.05);
  /* padding-top: 10%;
  padding-bottom: 10%; */
}

.IMGPRV:hover .IMGPRVA{
  opacity: 1;
}

.IMGPRV:hover .IMGPRVM{
  transform: scale(1);
}

table, th, td {
  border-collapse: collapse;
}

.LINKS {
  width:80%;
  margin-bottom: 5%;
  margin-left: 20%;
}

th, td {
  font-family: "Gotham";
  padding: 0%;
  /* padding-left: 1%;
  padding-right: 1%; */
  text-align: center;
}

td .LINK {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-family: "Gotham";
  /* font-weight: bold; */
  font-size: 12pt;
  text-align: left;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

td .DLLINK {
  background-color: var(--text-colour);
  border: 2px solid var(--text-colour);
  margin: 3px;
  display: block;
  color: var(--background-colour);
  font-family: "Gotham";
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

td .CARDLINK {
  border: 2px solid #262626;
  display: block;
  color: #000000;
  font-family: "Gotham";
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}


td .LINK:hover {
  background-color: #262626;
  color: #ffffff;
  /* background-color: #000000; */
}

td .DLLINK:hover {
  background-color: #26262600;
  color: var(--text-colour);
  /* background-color: #000000; */
}

td .CARDLINK:hover {
  background-color: #262626;
  color: #ffffff;
  /* background-color: #000000; */
}

h1 {
    color: #262626;
    margin-left: 0px;
    padding-top: 12px;
    font-family: "Gotham";
    /* font-weight: 300; */
    font-size: 30pt;
    margin-bottom: 0px;
    text-align: left;
    color: #ffffff;
  }

h2 {
    color: var(--text-colour);
    /* margin-left: 20px;*/
    padding-top: 1%;
    font-family: "Gotham";
    /* font-weight: 300; */
    font-size: 22pt;
    margin-bottom: -5px;
    text-align: center;
  }

.SUBTITLE {
  color: #ffffff;
  /* margin-left: 20px;*/
  padding-top: 1%;
  font-family: "Gotham";
  /* font-weight: 300; */
  font-size: 16pt;
  /* font-weight: normal; */
  margin-bottom: -5px;
  text-align: center;
}

ul {
  border: 1px solid var(--text-colour);
  list-style-type: none;
  margin-top: .5%;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--text-colour);
}

.LOGO {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    /* will-change: transform; */
    /* transform: translateZ(0); */
    /* image-rendering: -webkit-optimize-contrast; */
}
  
li {
  border: 1px solid var(--text-colour);
  float: left;
}

li a {
  /* border: 2px solid #ffffff; */
  display: block;
  color: var(--background-colour);
  font-family: "Gotham";
  font-size: 20pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: var(--text-colour);
  background-color: var(--background-colour);
  /* background-color: #000000; */
}

footer {
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 0;
}

.BODY{
    font-family: "Gotham";
    text-align: center;
    width: 100%;
    padding-top: .5%;
    padding-left: 0%;
    color: var(--alt-text-colour);
}

.CR{
  font-family: "Gotham";
  text-align: left;
  width: 100%;
  padding-top: 2%;
  margin-bottom: 5%;
  /* padding-left: 5%; */
  color: #000000;
}

.CRS {
  font-family: "Gotham", Book;
  text-align: right;
  /* padding-left: 90%; */
  /* float: right; */
  margin-bottom: 2%;
  color: #000000;
}

header {
  /* scroll-snap-align: start; */
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

.MAINIMG{
  overflow: hidden;
  width: 100%;
  height: auto;
  /* padding: 3%; */
}

.IMGBORDER{
  padding: 2%;
  background-color: var(--text-colour);
  /* padding-top: 1.5%;
  padding-right: 6%;
  padding-bottom: 5%; */
  float: left;
  position: relative;
  margin-right: 6%;
  margin-top: 1.5%;
  margin-bottom: 5%;
}

.DLLINKS {
  border: 0px solid #ffffff00;
  width: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: auto;
}

.STATS {
  font-family: "Gotham";
  text-align: left;
  font-size: 13.5pt;
  width: 100%;
  padding-top: .5%;
  padding-left: 0%;
  color: var(--text-colour);
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}


.HHLINK{
  color: var(--text-colour);
  text-align: left;
  text-decoration: none;
}

.IMGSCROLL{
  /* scroll-snap-type: y mandatory; */
  /* scroll-snap-align: start; */
  margin-top: 5%;
  margin-bottom: 3%;
  width: 100%;
  /* margin-left: -20%; */
  /* background-image: url("paul-lincoln-exmoor-gs.jpg"); */
  padding-top: 2%;
  padding-bottom: 1%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 50px; */
}

.CARD{
  /* display: grid; */
  /* grid-gap: 10%; */
  background-color: #ffffff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: auto;
  /* overflow: hidden; */
  
}

.CARDBODY {
  font-family: "Gotham";
  text-align: left;
  width: 90%;
  padding-top: .5%;
  padding-left: 0%;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  font-size: 12pt;
}

.CARDH2{
  color: #262626;
  font-size: 18pt;
  width: 80%;
  text-align: left;
}

.CARDIMG{
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 2%;
  width: 20%;
  /* padding: 3%; */
}

#SEARCHBAR{
  margin-left: 15%;
  margin-right: auto;
  /* text-align: center; */
  width: 70%;
  font-size: 20pt;
  font-family: Gotham;
  background-color: #26262600;
  color: #ffffffff;
  outline: none;
  padding: .5%;
  /* padding-left: 0; */
  /* padding-bottom: .1%; */
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

#SEARCHBAR:focus{
  background-color: #ffffff;
  color: #000000;
  caret-color: #000000;
}

::placeholder{
  opacity: 1 !important;
  color: #ffffff !important;
}

input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.SCROLLH2{
  margin-left: 15%;
  margin-right: 15%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000; /* Fallback color */
  background-color: #00000000; /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: var(--modal-background-colour);
  width: 100%;
  height: 100%;
  /* -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s */
}

.modal_close {
  font-family: "Gotham";
  color: var(--text-colour);
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 15%;
  font-size: 40px;
  font-weight: bold;
  transition: opacity 0.5s;
}

.modal_home {
  font-family: "Gotham";
  color: var(--text-colour);
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  transition: opacity 0.5s;
  font-size: 18pt;
  padding-top: 10px;
  font-weight: bold;
}

.modal_home_icon {
  height: 18px;
  padding-top: 5px;
  margin-right: 15px;
}

.modal_close:hover,
.modal_home:hover,
.modal_close:focus,
.modal_home:focus {
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* @-webkit-keyframes fadeOut {
  from {opacity: 1} 
  to {opacity: 0}
}

@keyframes fadeOut {
  from {opacity: 1} 
  to {opacity: 0}
} */

@media screen and (max-width: 1600px) {
  .IMGBORDER{
    width: 96% !important;
  }

  .DLLINKS{
    margin-left: -4px;
  }

  .LOGO{
    width: 25%;
    float: left;
  }

  .LINKS{
    /* transform: scale(0.2); */
    width: 60%;
  }

  .IMAGEGRID2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10%; */
    width: 100%;
  }
  .IMGPRV{
    margin-bottom: 5%;
  }
  .CARDIMG{
    width: 35% !important;
  }

  .IMGPRV{
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 1200px) {
  .CARDIMG{
    width: 45% !important;
  }
  .CARDBODY{
    font-size: 11pt;
  }
  .CARDH2{
    font-size: 16pt !important;
  }
  td .CARDLINK{
    font-size: 12pt !important;
    padding: 12px 16px;
  }
  /* .DLLINKS{
    margin-right: auto !important;
    margin-left: auto !important;
  } */
  .HHLINK{
    font-size: 24pt;
  }
  li a{
    font-size: 16pt;
  }
  h2{
    font-size: 20pt;
  }
  .SCROLLH2{
    font-size: 20pt;
  }

  .IMGPRV{
    padding-bottom: 8%;
    font-size: 12pt;
  }

  #SEARCHBAR{
    font-size: 18pt;
  }
}

@media screen and (max-width: 980px) {
  .CARDBODY{
    font-size: 8pt;
  }
  .CARDH2{
    font-size: 12pt !important;
  }
  td .CARDLINK{
    font-size: 10pt !important;
    padding: 8px 12px;
  }
  .CARD{
    width: 65%;
  }

  .IMGPRV{
    padding-bottom: 8%;
    font-size: 9pt;
  }

  #SEARCHBAR{
    font-size: 16pt;
  }
}

@media screen and (max-width: 750px) {
  .content{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
  }
  header{
    margin-left: 5%;
    margin-right: 5%;
  }
  footer{
    padding-left: 5%;
    padding-right: 5%;
  }

  h1{
    text-align: center;
    padding-bottom: 3%;
    margin-top: 2%;
  }

  li{
    float: none;
  }

  li a{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }

  .LOGO{
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
  }

  .LINKS{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: -10%; */
    padding: 0;
    max-width: 100%;
    width: 100%;
    transform: scale(0.8);
    float: left;
  }
  .LINK{
    font-size: 8pt !important;
  }

  .IMAGEGRID2{
    grid-template-columns: 1fr;
    /* grid-gap: 10%; */
    width: 90%;
    margin-top: 15%;
  }
  .IMGPRV{
    margin-bottom: 0;
  }

  .DLLINKS{
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    /* margin-left: -10% !important; */
    /* transform: scale(0.8); */
    border-width: 0.5px;
  }
  tr { display: block; float: left; }
  th, td { display: block; }
  td .DLLINK{
    font-size: 15pt;
    padding: 8px 50px;
    border-width: 0.5px;
  }

  .IMGBORDER{
    float: none;
    width: 96% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  h2{
    /* margin-top: 6% !important; */
    text-align: center !important;
    font-size: 22pt;
    /* padding-bottom: 20px; */
  }
  .HHLINK{
    font-size: 26pt;
  }

  .SCROLLH2{
    margin-top: 6% !important;
  }

  .STATS{
    text-align: center !important;
  }

  .BODY{
    text-align: center !important;
  }
  .CARDBODY{
    font-size: 11pt;
    text-align: center !important;
    width: 85%;
  }
  .CARDH2{
    margin-top: 2%;
    font-size: 14pt !important;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
  }

  h1{
    padding-top: 0;
  }

  .CARD{
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .CARDIMG{
    float: none !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 4% !important;
    margin-right: auto !important;
    padding: 0 !important;
  }

  .IMGPRV{
    padding-bottom: 5%;
    margin-bottom: 10%;
    font-size: 16pt;
  }
  .IMAGEGRID2{
    width: 85% !important;
    margin-top: 8%;
  }
  #SEARCHBAR{
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    font-size: 16pt;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 0;
    background-color: #26262600;
  }
  .modal_close{
    margin-right: 5%;
  }
  .modal_home{
    margin-left: 5%;
  }
}

@media print {
  p, h1, h2, .DLLINK {
    color: #000000 !important;
  }

  .DLLINKS{
  display: none;
  }

  .IMGBORDER{
    width: 100% !important;
    padding: 0;
    /* background-color: #000000 !important; */
  }

  .MAINIMG{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}