@font-face {
  font-family: Gotham;
  src: url(FONTS/GothamBook.ttf);
}

@font-face {
  font-family: Gotham;
  font-weight: bold;
  src: url(FONTS/GothamBold.ttf);
}

@font-face {
  font-family: Gotham;
  font-style: italic;
  src: url(FONTS/GothamBookItalic.ttf);
}

@font-face {
  font-family: Gotham;
  font-weight: lighter;
  src: url(FONTS/GothamLight.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
  /* scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-margin: 20vh; */
  margin: 0;
  background-color: #262626;
}

.IMAGES{
  margin-top: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
}

.IMAGEGRID{
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  margin-top: 5%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  justify-items: center;
  align-items: center;
  justify-content: end;
  grid-gap: 0%;
  /* padding: 5%; */
  padding-top: 2%;
  padding-bottom: 2%;
}

.IMAGEGRID2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  margin-top: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  justify-items: center;
  align-items: center;
  justify-content: end;
  grid-gap: 2%;
}

.IMGPRV{
  width: 80%;
  height: auto;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
  -webkit-filter: brightness(100%);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  /* -webkit-filter: blur(1.5px); */
  /* filter: blur(5px); */
  scroll-snap-destination: center;
  /* ...and now override with proper CSS property */
  margin-bottom: 0;
  padding-bottom: 0;
  /* background-color: #262626; */
  overflow: hidden;
}

.IMGPRVM{
  /* transform: scale(1.02); */
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* object-fit: contain; */
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

.IMGPRVA{
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
  object-fit: contain;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.IMGPRV:hover {
  /* max-height: 95%; */
  /* -webkit-filter: brightness(70%); */
  /* -webkit-filter: blur(0px); */
  /* width: 95%; */
  transform: scale(1.05);
  /* padding-top: 10%;
  padding-bottom: 10%; */
}

.IMGPRV:hover .IMGPRVA{
  opacity: 1;
}

.IMGPRV:hover .IMGPRVM{
  transform: scale(1);
}

table, th, td {
  border-collapse: collapse;
}

.LINKS {
  width:80%;
  margin-bottom: 5%;
  margin-left: 20%;
}

th, td {
  font-family: "Gotham";
  padding: 0%;
  /* padding-left: 1%;
  padding-right: 1%; */
  text-align: center;
}

td .LINK {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-family: "Gotham";
  /* font-weight: bold; */
  font-size: 12pt;
  text-align: left;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

td .DLLINK {
  border: 2px solid #ffffff;
  display: block;
  color: #ffffff;
  font-family: "Gotham";
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

td .CARDLINK {
  border: 2px solid #262626;
  display: block;
  color: #000000;
  font-family: "Gotham";
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}


td .LINK:hover {
  background-color: #262626;
  color: #ffffff;
  /* background-color: #000000; */
}

td .DLLINK:hover {
  background-color: #ffffff;
  color: #262626;
  /* background-color: #000000; */
}

td .CARDLINK:hover {
  background-color: #262626;
  color: #ffffff;
  /* background-color: #000000; */
}

h1 {
    color: #262626;
    margin-left: 0px;
    padding-top: 12px;
    font-family: "Gotham";
    /* font-weight: 300; */
    font-size: 30pt;
    margin-bottom: 0px;
    text-align: left;
    color: #ffffff;
  }

h2 {
    color: #ffffff;
    /* margin-left: 20px;*/
    padding-top: 1%;
    font-family: "Gotham";
    /* font-weight: 300; */
    font-size: 22pt;
    margin-bottom: -5px;
    text-align: center;
  }

.SUBTITLE {
  color: #ffffff;
  /* margin-left: 20px;*/
  padding-top: 1%;
  font-family: "Gotham";
  /* font-weight: 300; */
  font-size: 16pt;
  /* font-weight: normal; */
  margin-bottom: -5px;
  text-align: center;
}

ul {
  border: 1px solid #ffffff;
  list-style-type: none;
  margin-top: .5%;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.LOGO {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    /* will-change: transform; */
    /* transform: translateZ(0); */
    /* image-rendering: -webkit-optimize-contrast; */
}
  
li {
  border: 1px solid #ffffff;
  float: left;
}

li a {
  /* border: 2px solid #ffffff; */
  display: block;
  color: #000000;
  font-family: "Gotham";
  font-size: 20pt;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  -o-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -ms-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -moz-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  -webkit-transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0s ease-out, background .5s ease-in, color .5s ease-in;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #ffffff;
  background-color: #262626;
  /* background-color: #000000; */
}

footer {
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 10%;
}

.BODY {
    font-family: "Gotham";
    text-align: center;
    width: 100%;
    padding-top: .5%;
    padding-left: 0%;
    color: #ffffff;
}

.CR{
  font-family: "Gotham";
  text-align: left;
  width: 100%;
  padding-top: 2%;
  margin-bottom: 5%;
  /* padding-left: 5%; */
  color: #000000;
}

.CRS {
  font-family: "Gotham", Book;
  text-align: right;
  /* padding-left: 90%; */
  /* float: right; */
  margin-bottom: 2%;
  color: #000000;
}

header {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

.MAINIMG{
  overflow: hidden;
  width: 100%;
  height: auto;
  /* padding: 3%; */
}

.IMGBORDER{
  padding: 2%;
  background-color: #ffffff;
  /* padding-top: 1.5%;
  padding-right: 6%;
  padding-bottom: 5%; */
  float: left;
  position: relative;
  margin-right: 6%;
  margin-top: 1.5%;
  margin-bottom: 5%;
}

.DLLINKS {
  border: 1px solid #ffffff;
  width: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: auto;
}

.STATS {
  font-family: "Gotham";
  text-align: left;
  font-size: 13.5pt;
  width: 100%;
  padding-top: .5%;
  padding-left: 0%;
  color: #ffffff;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}


.HHLINK{
  color: #ffffff;
  text-align: left;
  text-decoration: none;
}

.IMGSCROLL{
  margin-top: 5%;
  margin-bottom: 3%;
  width: 100%;
  /* margin-left: -20%; */
  /* background-image: url("paul-lincoln-exmoor-gs.jpg"); */
  padding-top: 2%;
  padding-bottom: 1%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 50px; */
}

.CARD{
  /* display: grid; */
  /* grid-gap: 10%; */
  background-color: #ffffff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: auto;
  /* overflow: hidden; */
  
}

.CARDBODY {
  font-family: "Gotham";
  text-align: left;
  width: 90%;
  padding-top: .5%;
  padding-left: 0%;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.CARDH2{
  color: #262626;
  font-size: 18pt;
  width: 80%;
  text-align: left;
}

.CARDIMG{
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 2%;
  width: 20%;
  /* padding: 3%; */
}

@media screen and (max-width: 1600px) {
  .IMGBORDER{
    width: 95% !important;
  }

  .DLLINKS{
    margin-left: 0;
  }

  .LOGO{
    width: 25%;
    float: left;
  }

  .LINKS{
    /* transform: scale(0.2); */
    width: 60%;
  }

  .IMAGEGRID2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10%; */
    width: 100%;
  }
  .CARDIMG{
    width: 35% !important;
  }
}

@media screen and (max-width: 1100px) {
  .CARDIMG{
    width: 45% !important;
  }
  .CARDBODY{
    font-size: 10pt;
  }
  .CARDH2{
    font-size: 14pt !important;
  }
  td .CARDLINK{
    font-size: 12pt !important;
    padding: 12px 16px;
  }
  /* .DLLINKS{
    margin-right: auto !important;
    margin-left: auto !important;
  } */
}

@media screen and (max-width: 980px) {
  .CARDBODY{
    font-size: 8pt;
  }
  .CARDH2{
    font-size: 12pt !important;
  }
  td .CARDLINK{
    font-size: 10pt !important;
    padding: 8px 12px;
  }
  .CARD{
    width: 65%;
  }
}

@media screen and (max-width: 750px) {
  .content{
    margin-left: 8%;
    margin-right: 8%;
  }
  header{
    margin-left: 5%;
    margin-right: 5%;
  }
  footer{
    padding-left: 5%;
    padding-right: 5%;
  }

  h1{
    text-align: center;
    padding-bottom: 3%;
    margin-top: 2%;
  }

  li{
    float: none;
  }

  li a{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }

  .LOGO{
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
  }

  .LINKS{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: -10%; */
    padding: 0;
    max-width: 100%;
    width: 100%;
    transform: scale(0.8);
    float: left;
  }
  .LINK{
    font-size: 8pt !important;
  }

  .IMAGEGRID2{
    grid-template-columns: 1fr;
    /* grid-gap: 10%; */
    width: 90%;
  }

  .DLLINKS{
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 0;
    margin-bottom: 4%;
    /* margin-left: -10% !important; */
    transform: scale(0.8);
  }
  td .DLLINK{
    font-size: 8pt;
    padding: 8px 10px;
  }

  .IMGBORDER{
    float: none;
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  h2{
    /* margin-top: 6% !important; */
    text-align: center !important;
  }

  .SCROLLH2{
    margin-top: 6% !important;
  }

  .STATS{
    text-align: center !important;
  }

  .BODY{
    text-align: center !important;
  }
  .CARDBODY{
    font-size: 11pt;
    text-align: center !important;
    width: 85%;
  }
  .CARDH2{
    margin-top: 2%;
    font-size: 14pt !important;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
  }

  h1{
    padding-top: 0;
  }

  .CARD{
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .CARDIMG{
    float: none !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 4% !important;
    margin-right: auto !important;
    padding: 0 !important;
  }

  .IMGSCROLL{
    /* margin-top: 5% !important; */
  }
}